/*
 * MMM-MyCalendar CSS.
 */

.MMM-MyCalendar {
  width: 100%;
}

.MMM-MyCalendar .symbol {
  width: 5%;
  vertical-align: top;
  padding-left: 0;
  padding-right: 10px;
  font-size: 80%;
}

.MMM-MyCalendar .symbol span {
  vertical-align: top;
  display: inline-block;
  -ms-transform: translate(0, 2px); /* IE 9 */
  -webkit-transform: translate(0, 2px); /* Safari */
  transform: translate(0, 2px);
}

.MMM-MyCalendar .date {
  width: 12%;
  white-space: nowrap;
  vertical-align: top;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
}

.MMM-MyCalendar .time {
  width: 13%;
  white-space: nowrap;
  vertical-align: top;
  text-align: right;
  padding-right: 35px;
}

.MMM-MyCalendar .title {
  width: 70%;
  vertical-align: top;
  text-align: left;
}

.MMM-MyCalendar .event1 {
  color: orange;
}
.MMM-MyCalendar .event2 {
  color: yellow;
}
.MMM-MyCalendar .event3 {
  color: lightgreen;
}
.MMM-MyCalendar .event4 {
  color: lightblue;
}
.MMM-MyCalendar .event5 {
  color: magenta;
}
