
.MMM-MyCalendar .symbol {
  vertical-align: top;
  padding-left: 0;
  padding-right: 10px;
  font-size: 80%;
}

.MMM-MyCalendar .symbol span {
  vertical-align: top;
  display: inline-block;
  -ms-transform: translate(0, 2px); /* IE 9 */
  -webkit-transform: translate(0, 2px); /* Safari */
  transform: translate(0, 2px);
}

.MMM-MyCalendar .date {
  vertical-align: top;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
}

.MMM-MyCalendar .time {
  vertical-align: top;
  text-align: right;
  padding-right: 10px;
}

.MMM-MyCalendar .title {
  vertical-align: top;
  text-align: left;
}
